<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold text-body-emphasis">История компании</h1>
    <div class="col-lg-10 mx-auto">.
        <p class="lead mb-4">
            Компания "Здоровье" была основана в 2010 году группой энтузиастов, среди которых были врачи, инженеры и
            предприниматели, объединённые одной целью — улучшение качества медицинской диагностики в России. Основатель
            компании, доктор Елена Смирнова, видела огромный потенциал в применении современных технологий для
            диагностики заболеваний на ранних стадиях и мечтала сделать высококачественные диагностические услуги
            доступными для всех.

            Рождение идеи
            Идея создания компании "Здоровье" возникла после того, как доктор Смирнова столкнулась с недостатком
            современных диагностических инструментов в местных клиниках. Вместе с командой единомышленников, она решила
            создать компанию, которая предложила бы пациентам и медицинским учреждениям доступ к самым передовым
            технологиям диагностики.

            Первые шаги
            На первых этапах своего развития "Здоровье" сосредоточилась на внедрении современных методов ультразвуковой
            и лабораторной диагностики. Компания начала с небольшого диагностического центра в Москве, предлагая
            пациентам широкий спектр анализов и исследований, от общего анализа крови до сложных генетических тестов.

            "Здоровье" быстро завоевала доверие пациентов благодаря высокому качеству обслуживания, точности результатов
            и современному оборудованию. Врачи, работающие в компании, регулярно проходили обучение и стажировки в
            лучших клиниках Европы, что позволяло "Здоровью" всегда быть в курсе последних медицинских достижений.

            Расширение и новые горизонты
            Успех первого диагностического центра позволил компании "Здоровье" начать расширение. Уже к 2015 году были
            открыты новые филиалы в крупных городах России, таких как Санкт-Петербург, Новосибирск и Екатеринбург. В
            этот период компания активно инвестировала в приобретение передового оборудования, включая аппараты для
            магнитно-резонансной томографии (МРТ), компьютерной томографии (КТ) и ПЭТ-КТ, что позволило предложить
            пациентам ещё более точные методы диагностики.

            Компания также начала развивать направление телемедицины, предоставляя пациентам возможность получать
            консультации от лучших специалистов без необходимости приезжать в крупные города. Это стало важным шагом на
            пути к улучшению доступности медицинских услуг для жителей отдалённых регионов.

            Лидерство и инновации
            К 2020 году "Здоровье" стала одним из лидеров на рынке медицинской диагностики в России. Компания открыла
            собственную лабораторию, специализирующуюся на генетических исследованиях, что позволило значительно
            расширить спектр предлагаемых услуг.

            Одним из ключевых направлений развития стало внедрение искусственного интеллекта и машинного обучения для
            анализа диагностических данных. Это позволило повысить точность диагностики и снизить вероятность
            человеческой ошибки, что особенно важно при выявлении сложных заболеваний на ранних стадиях.

            Взгляд в будущее
            Сегодня "Здоровье" продолжает активно развиваться, открывая новые диагностические центры и внедряя
            инновационные технологии. Компания стремится к тому, чтобы высококачественные медицинские услуги стали
            доступными для каждого жителя России, независимо от места проживания.

            "Здоровье" — это не просто диагностическая компания, а символ доверия, надежности и заботы о каждом
            пациенте. Компания продолжает следовать своему девизу: "Ранняя диагностика — путь к здоровью", стремясь
            сделать этот путь максимально комфортным и доступным для всех.
        </p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="/media/main_3.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                 width="300" height="500" loading="lazy">
        </div>
    </div>

    <div class="b-example-divider"></div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-5 fw-bold text-body-emphasis">Миссия и ценности</h1>
        <div class="col-lg-12 mx-auto">.
            <p class="lead mb-4">
                Основной принцип деятельности нашего центра – высокое качество оказываемых услуг при
                разумной ценовой политике. Для обеспечения высококачественной диагностики используется современная
                высокотехнологическая аппаратура. У нас работают врачи высшей и первой категории, с большим опытом
                работы, которым можно с уверенностью доверять свое здоровье.</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                     width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
    <div class="b-example-divider"></div>
</div>
