<section class="jumbotron">
    <div class="container">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>Медицинский центр - Здоровье</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-12">
                — это ведущий российский поставщик медицинских диагностических услуг, основанный в 2010
                году с целью предоставления качественной и доступной диагностики для всех слоев населения. Благодаря
                внедрению передовых технологий и постоянному совершенствованию, компания быстро заняла лидирующие
                позиции на
                рынке.

                С момента своего основания, «Здоровье» специализируется на предоставлении широкого спектра
                диагностических
                исследований, включая лабораторные анализы, ультразвуковую диагностику, МРТ, КТ и другие методы
                визуализации. Каждый диагностический центр компании оснащен самым современным оборудованием, что
                позволяет
                обеспечивать высокую точность результатов и своевременное выявление заболеваний.

                «Здоровье» также активно развивает телемедицину, предоставляя пациентам возможность получить
                консультации от
                ведущих специалистов, не покидая свой дом. В основе философии компании лежит убеждение, что ранняя
                диагностика — ключ к успешному лечению, и она стремится сделать высококачественные медицинские
                услуги
                доступными для всех.

                Сегодня «Здоровье» насчитывает более 50 диагностических центров по всей России и продолжает
                расширяться,
                внедряя инновации и поддерживая высочайшие стандарты качества обслуживания.

        </div>
</section>
