<section class="jumbotron">
    <div class="container">
        <strong>Медицинский центр «Здоровье»</strong>
        <h1 class="lead mb-6">
            — это ведущий российский поставщик медицинских диагностических услуг, основанный в 2010
            году с целью предоставления качественной и доступной диагностики для всех слоев населения. Благодаря
            внедрению передовых технологий и постоянному совершенствованию, компания быстро заняла лидирующие позиции на
            рынке.

            С момента своего основания, «Здоровье» специализируется на предоставлении широкого спектра диагностических
            исследований, включая лабораторные анализы, ультразвуковую диагностику, МРТ, КТ и другие методы
            визуализации. Каждый диагностический центр компании оснащен самым современным оборудованием, что позволяет
            обеспечивать высокую точность результатов и своевременное выявление заболеваний.

            «Здоровье» также активно развивает телемедицину, предоставляя пациентам возможность получить консультации от
            ведущих специалистов, не покидая свой дом. В основе философии компании лежит убеждение, что ранняя
            диагностика — ключ к успешному лечению, и она стремится сделать высококачественные медицинские услуги
            доступными для всех.

            Сегодня «Здоровье» насчитывает более 50 диагностических центров по всей России и продолжает расширяться,
            внедряя инновации и поддерживая высочайшие стандарты качества обслуживания.
        </h1>
        <p>
            {% if user.is_authenticated %}
            <a class="p-2 btn btn-secondary" href="/users/profile/">Профиль</a>
            <a class="p-2 btn btn-secondary" href="/users/logout/">Выйти</a>
            {% else %}
            <a class="p-2 btn btn-primary" href="/users/login/">Войти</a>
            <a class="p-2 btn btn-primary " href="/users/register/">Регистрация</a>
            <a href="{% url 'health:record_form' %}" class="btn btn-secondary my-2">Запись на прием</a>
            {% endif %}
        </p>
    </div>
</section>