<div class="navbar navbar-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
            <strong>Медицинский центр - Здоровье</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'services:service_list' %}">Главная</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'doctor:our_doctors' %}">О компании</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'services:service_main' %}">Наши
                    услуги</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'doctor:doctor_list' %}">Наши врачи</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'services:contact_list' %}">Контакты</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'services:feedback_list' %}">Обратная
                    связь</a>
                {% if not user.is_authenticated %}
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Личный кабинет</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>
