{% extends 'services/base.html' %}

{% block content %}
<main>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-primary">О нас</h4>
                    <p class="text-white">
                        Медицинский центр "ЗДОРОВЬЕ" — это мощный многопрофильный лечебно-диагностический комплекс.
                        На протяжении 30 лет центр остается ведущим учреждением оказания высококвалифицированной
                        медицинской помощи. Высокая компетентность и профессионализм наших специалистов, подкрепленные
                        обновленной материально-технической базой центра, позволяют с высокой точностью проводить
                        обследования и осуществлять диагностику заболеваний в любых самых сложных случаях. В штате
                        диагностического центра кандидаты медицинских наук, врачи высшей категории, имеющие серьезный
                        опыт работы и владеющие современными методиками диагностики и лечения.
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-primary">Это Вам понадобится</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'services:contact_list' %}" class="text-white">Контакты</a></li>
                        <li><a href="{% url 'services:site_map_list' %}" class="text-white">Карта сайта</a></li>
                        <li><a href="{% url 'services:feedback_list' %}" class="text-white">Обратная связь</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-secondary" href="{% url 'users:profile' %}">Профиль</a>
        <a class="p-2 btn btn-secondary" href="{% url 'users:logout' %}">Выйти</a>
        <a href="{% url 'health:record_form' %}" class="btn btn-secondary my-2">Запись на прием</a>
        {% else %}
        <a class="p-2 btn btn-primary" href="{% url 'users:login' %}">Войти</a>
        <a class="p-2 btn btn-primary" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
        <a href="{% url 'health:record_list' %}" class="btn btn-secondary my-2">Просмотр записи на прием</a>
        <a href="{% url 'health:diagnostics_list' %}" class="btn btn-secondary my-2">Результаты диагностики</a>
    </div>

    <form method="post" action="" class="form-floating">
        {% csrf_token %}
        {% include 'services/includes/inc_main_1.html' %}
        <h1 class="h3 mb-5 fw-normal">Перечень предоставляемых услуг</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for object in object_list %}
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name|title }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'services:service_detail' object.pk %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</main>
{% endblock %}